:root {
  --main-bg-color: #095baa;
  --searchbox-bg-color: #fff;
  --chat-room-list-bg-color: #fff;
  --searchbox-focus-bg-color: rgb(247, 247, 247);
  --text-color: #fff;
  --chat-bubble: #f2f2f2;
}

/* btn */
.btn a {
  font-size: 2rem;
  padding: 0.75rem 1.25rem;
  transition: 0.3s;
  color: var(--main-bg-color);
}
.btn a:hover {
  font-size: 2rem;
  background-color: var(--main-bg-color);
  color: #fff;
  transition: 0.3s;
  border-radius: 50%;
}

/* home image-1 */
.home-image-1 {
  height: 300px;
}
.about-us-image {
  height: 300px;
}

/* about-us */
.about-us{
  padding-top: 7rem;
}

.mission{
  padding-top: 7rem;
}

/* Form (Contact) */
.form-content{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.contact{
  width: 65%;
  text-align: center;
}
.contact-input{
  margin: .5rem;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--main-bg-color);
  outline: none;
  transition: 0.3s;
  font-size: 1rem;
  cursor: pointer;
}
.contact input:focus{
  background-color: var(--main-bg-color);
  color: #fff;
  transition: 0.3s;
}
.contact input:focus::placeholder{
  color: #fff;
  transition: 0.3s;
}

/* textarea */
.contact textarea:focus{
  background-color: var(--main-bg-color);
  color: #fff;
  transition: 0.3s;
}
.contact textarea:focus::placeholder{
  color: #fff;
  transition: 0.3s;
}
#messageText{
  padding: 1.5rem;
}