:root {
  --main-bg-color: #095baa;
  --searchbox-bg-color: #fff;
  --chat-room-list-bg-color: #fff;
  --searchbox-focus-bg-color: rgb(247, 247, 247);
  --text-color: #fff;
  --chat-bubble: #f2f2f2;
}

/* btn */
.btn a {
  font-size: 2rem;
  padding: 0.75rem 1.25rem;
  transition: 0.3s;
  color: var(--main-bg-color);
}
.btn a:hover {
  font-size: 2rem;
  background-color: var(--main-bg-color);
  color: #fff;
  transition: 0.3s;
  border-radius: 50%;
}

/* about-us */
.about-us{
  padding-top: 7rem;
}

.mission{
  padding-top: 7rem;
}

/* Form (Contact) */
.form-content{
  display: flex;
  flex-direction: column;
}